# Install Packages

In [65]:
!pip install psycopg2-binary
!pip install --upgrade SQLAlchemy

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.10/dist-packages (2.9.9)
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.10/dist-packages (2.0.23)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy) (3.0.0)

# Load Libraries


---

In [66]:
from IPython.core.display import display, HTML
from IPython.display import clear_output
display(HTML("<style>.container { width:90% }</style>"))
import warnings
warnings.filterwarnings('ignore')
# ------------------------------------------------------------------


import os
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import seaborn as sns
import subprocess
import sys
import requests
import json

# Decision Tree and Models
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.feature_selection import chi2, SelectKBest
from sklearn.metrics import confusion_matrix, roc_curve, roc_auc_score

# Make a Database Connection

In [67]:
DATABASE_URL = "postgres://ekolufgpivierh:038a6bd29784f2ca479ebaf9584333c53fb4cd1dc99085a4f7cabaeb7936c55c@ec2-35-169-11-108.compute-1.amazonaws.com:5432/d4tj4h4dvtrjks"
conn = psycopg2.connect(DATABASE_URL, sslmode='require')

In [68]:
# make a connection

# this one works
DATABASE_URI = 'postgresql://ekolufgpivierh:038a6bd29784f2ca479ebaf9584333c53fb4cd1dc99085a4f7cabaeb7936c55c@ec2-35-169-11-108.compute-1.amazonaws.com:5432/d4tj4h4dvtrjks'
# this one works
DATABASE_URI = 'postgresql://u8g6pgr3nc1dqc:pe8f0029474e397807d8d16b7feb997387b30dbfc8669bda2164bc631c6593fee@ec2-34-236-111-217.compute-1.amazonaws.com:5432/d42jr442v2dujb'

try:
    # Create a database connection using SQLAlchemy
    engine = sa.create_engine(DATABASE_URI)
    connection = engine.connect()
    print("Connected!")
      # Create an inspector object
    inspector = inspect(engine)

    # Retrieve the names of all tables in the database
    tables = inspector.get_table_names()
    print("Tables in the database:")
    for table in tables:
        print(table)
except Exception as e:
    print(f"Not connected! Error: {e}")

Not connected! Error: name 'sa' is not defined

In [69]:
try:
    cursor = conn.cursor()

    # Query to retrieve all table names in the current database
    query = """
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public'  -- You can specify the schema if needed
    """

    cursor.execute(query)

    # Fetch all table names
    table_names = cursor.fetchall()

    # Print the table names
    for table in table_names:
        print(table[0])

except (Exception, psycopg2.Error) as error:
    print("Error while connecting to PostgreSQL:", error)

customer_accounts
product
account_panager
product_category
inventory
warehouse
customer
phones
stock_list
stock_prices
portfolio
portfolio_allocation
customer_portfolios
enriched_data

In [70]:
# Extract the customer_accounts table from the connected database
try:
    cursor = conn.cursor()

    # Query to retrieve all table names in the current database
    query = """
    SELECT *
    FROM customer_accounts;
    """

    cursor.execute(query)

    # Fetch all table names
    customer_accounts = pd.DataFrame(cursor.fetchall())
    col_list = [i[0] for i in cursor.description]
    customer_accounts.columns = col_list

    # Print the table name customer_accounts
    for table in table_names:
        print(table[0])

except (Exception, psycopg2.Error) as error:
    print("Error while connecting to PostgreSQL:", error)

customer_accounts
product
account_panager
product_category
inventory
warehouse
customer
phones
stock_list
stock_prices
portfolio
portfolio_allocation
customer_portfolios
enriched_data

In [71]:
customer_accounts

,email_age,customer_tenure,balance_inqury_count,balance_current_amt,current_customer,ip_address,email_domain,business_state,credit_score,EVENT_LABEL
0,34.0,64.0,11.0,11638.0,True,99.193.119.75,gmail.com,IA,104.0,legit
1,27.0,35.0,7.0,11525.0,True,193.63.140.47,gmail.com,NH,359.0,legit
2,44.0,38.0,10.0,9335.0,True,79.182.139.29,gmail.com,NY,848.0,legit
3,37.0,55.0,11.0,11521.0,True,207.148.124.204,gmail.com,NH,202.0,legit
4,39.0,35.0,9.0,11982.0,False,68.6.93.151,hotmail.com,AK,739.0,legit
...,...,...,...,...,...,...,...,...,...,...
9945,27.0,84.0,8.0,12707.0,True,79.182.139.29,gmail.com,GA,807.0,legit
9946,30.0,54.0,10.0,10972.0,True,79.182.139.29,gmail.com,SD,143.0,fraud
9947,25.0,46.0,11.0,8657.0,True,185.48.24.245,gmail.com,CT,846.0,legit
9948,29.0,81.0,10.0,9324.0,True,206.10.194.143,gmail.com,NJ,344.0,legit
9949,24.0,50.0,10.0,8997.0,True,80.157.108.31,gmail.com,NE,930.0,legit

In [72]:
# Get all the unique IP addresses
ip = customer_accounts['ip_address'].unique().tolist()
data = {'IP Address': ip}
df = pd.DataFrame(data)
print(df)

         IP Address
0     99.193.119.75
1     193.63.140.47
2     79.182.139.29
3   207.148.124.204
4       68.6.93.151
..              ...
74   82.197.167.230
75    168.85.109.11
76      44.21.77.55
77   106.45.227.122
78  104.139.239.251

[79 rows x 1 columns]

## Enrich the data

In [73]:
from time import sleep
# Function to fetch data for an IP address
def fetch_ip_data(ip_address):
    sleep(1)
    # Define the API endpoint
    url = f"https://freeipapi.com/api/json/{ip_address}"
    response = requests.get(url)
    if response.status_code == 200:
        return response.json()
    else:
        print(f"Failed to retrieve data for IP: {ip_address}. Status Code: {response.status_code}")
        return {}

# Loop through IP addresses in the DataFrame
for idx, row in df.iterrows():
    ip_data = fetch_ip_data(row['IP Address'])
    for key, value in ip_data.items():
        # If this key/column doesn't exist in the DataFrame, create it
        if key not in df.columns:
            df[key] = None
        df.at[idx, key] = value

# Display the updated DataFrame
df

,IP Address,ipVersion,ipAddress,latitude,longitude,countryName,countryCode,timeZone,zipCode,cityName,regionName,continent,continentCode
0,99.193.119.75,4,99.193.119.75,33.922234,-118.405518,United States of America,US,-07:00,90245,El Segundo,California,Americas,AM
1,193.63.140.47,4,193.63.140.47,51.6021,-3.34211,United Kingdom of Great Britain and Northern I...,GB,+01:00,CF37,Pontypridd,Wales,Europe,EU
2,79.182.139.29,4,79.182.139.29,30.60944,34.801109,Israel,IL,+03:00,80600,Mitzpe Ramon,HaDarom,Asia,AS
3,207.148.124.204,4,207.148.124.204,1.289987,103.850281,Singapore,SG,+08:00,179431,Singapore,Singapore,Asia,AS
4,68.6.93.151,4,68.6.93.151,34.420883,-119.698311,United States of America,US,-07:00,93101,Santa Barbara,California,Americas,AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,82.197.167.230,4,82.197.167.230,47.500477,8.749907,Switzerland,CH,+02:00,8411,Winterthur,Zurich,Europe,EU
75,168.85.109.11,4,168.85.109.11,35.9216,-84.176025,United States of America,US,-04:00,37932,Knoxville,Tennessee,Americas,AM
76,44.21.77.55,4,44.21.77.55,32.800457,-117.171066,United States of America,US,-07:00,92111,San Diego,California,Americas,AM
77,106.45.227.122,4,106.45.227.122,38.468239,106.272598,China,CN,+08:00,750001,Yinchuan,Ningxia Huizu,Asia,AS
78,104.139.239.251,4,104.139.239.251,39.613087,-104.883926,United States of America,US,-06:00,80111,Greenwood Village,Colorado,Americas,AM

In [74]:
# Join the data
merged_df = pd.merge(customer_accounts, df, how = 'left', left_on = ['ip_address'], right_on = ['IP Address'])
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9950 entries, 0 to 9949
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   email_age             9950 non-null   float64
 1   customer_tenure       9950 non-null   float64
 2   balance_inqury_count  9950 non-null   float64
 3   balance_current_amt   9950 non-null   float64
 4   current_customer      9950 non-null   bool
 5   ip_address            9950 non-null   object
 6   email_domain          9950 non-null   object
 7   business_state        9950 non-null   object
 8   credit_score          9950 non-null   float64
 9   EVENT_LABEL           9950 non-null   object
 10  IP Address            9950 non-null   object
 11  ipVersion             9950 non-null   object
 12  ipAddress             9950 non-null   object
 13  latitude              9950 non-null   object
 14  longitude             9950 non-null   object
 15  countryName           9950 non-null   object
 16  countryCode           9950 non-null   object
 17  timeZone              9950 non-null   object
 18  zipCode               9950 non-null   object
 19  cityName              9950 non-null   object
 20  regionName            9950 non-null   object
 21  continent             9950 non-null   object
 22  continentCode         9950 non-null   object
dtypes: bool(1), float64(5), object(17)
memory usage: 1.8+ MB

In [75]:
# Display the first five records
merged_df.head()

,email_age,customer_tenure,balance_inqury_count,balance_current_amt,current_customer,ip_address,email_domain,business_state,credit_score,EVENT_LABEL,...,latitude,longitude,countryName,countryCode,timeZone,zipCode,cityName,regionName,continent,continentCode
0,34.0,64.0,11.0,11638.0,True,99.193.119.75,gmail.com,IA,104.0,legit,...,33.922234,-118.405518,United States of America,US,-07:00,90245,El Segundo,California,Americas,AM
1,27.0,35.0,7.0,11525.0,True,193.63.140.47,gmail.com,NH,359.0,legit,...,51.6021,-3.34211,United Kingdom of Great Britain and Northern I...,GB,+01:00,CF37,Pontypridd,Wales,Europe,EU
2,44.0,38.0,10.0,9335.0,True,79.182.139.29,gmail.com,NY,848.0,legit,...,30.60944,34.801109,Israel,IL,+03:00,80600,Mitzpe Ramon,HaDarom,Asia,AS
3,37.0,55.0,11.0,11521.0,True,207.148.124.204,gmail.com,NH,202.0,legit,...,1.289987,103.850281,Singapore,SG,+08:00,179431,Singapore,Singapore,Asia,AS
4,39.0,35.0,9.0,11982.0,False,68.6.93.151,hotmail.com,AK,739.0,legit,...,34.420883,-119.698311,United States of America,US,-07:00,93101,Santa Barbara,California,Americas,AM

# Train a predictive model to predict the EVENT LABEL outcome

---

- Goal: Add three columns: Probability of Fraud, Probability of Legit and Predicted (Fraud/Legit)
- The predictive model will most likely be a decision tree or a logistic regression, but before that is implemented we must first prepare the data for the model.
- Drop uneccesary variables
- Convert target to numeric

In [76]:
merged_df.head()

,email_age,customer_tenure,balance_inqury_count,balance_current_amt,current_customer,ip_address,email_domain,business_state,credit_score,EVENT_LABEL,...,latitude,longitude,countryName,countryCode,timeZone,zipCode,cityName,regionName,continent,continentCode
0,34.0,64.0,11.0,11638.0,True,99.193.119.75,gmail.com,IA,104.0,legit,...,33.922234,-118.405518,United States of America,US,-07:00,90245,El Segundo,California,Americas,AM
1,27.0,35.0,7.0,11525.0,True,193.63.140.47,gmail.com,NH,359.0,legit,...,51.6021,-3.34211,United Kingdom of Great Britain and Northern I...,GB,+01:00,CF37,Pontypridd,Wales,Europe,EU
2,44.0,38.0,10.0,9335.0,True,79.182.139.29,gmail.com,NY,848.0,legit,...,30.60944,34.801109,Israel,IL,+03:00,80600,Mitzpe Ramon,HaDarom,Asia,AS
3,37.0,55.0,11.0,11521.0,True,207.148.124.204,gmail.com,NH,202.0,legit,...,1.289987,103.850281,Singapore,SG,+08:00,179431,Singapore,Singapore,Asia,AS
4,39.0,35.0,9.0,11982.0,False,68.6.93.151,hotmail.com,AK,739.0,legit,...,34.420883,-119.698311,United States of America,US,-07:00,93101,Santa Barbara,California,Americas,AM

In [77]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9950 entries, 0 to 9949
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   email_age             9950 non-null   float64
 1   customer_tenure       9950 non-null   float64
 2   balance_inqury_count  9950 non-null   float64
 3   balance_current_amt   9950 non-null   float64
 4   current_customer      9950 non-null   bool
 5   ip_address            9950 non-null   object
 6   email_domain          9950 non-null   object
 7   business_state        9950 non-null   object
 8   credit_score          9950 non-null   float64
 9   EVENT_LABEL           9950 non-null   object
 10  IP Address            9950 non-null   object
 11  ipVersion             9950 non-null   object
 12  ipAddress             9950 non-null   object
 13  latitude              9950 non-null   object
 14  longitude             9950 non-null   object
 15  countryName           9950 non-null   object
 16  countryCode           9950 non-null   object
 17  timeZone              9950 non-null   object
 18  zipCode               9950 non-null   object
 19  cityName              9950 non-null   object
 20  regionName            9950 non-null   object
 21  continent             9950 non-null   object
 22  continentCode         9950 non-null   object
dtypes: bool(1), float64(5), object(17)
memory usage: 1.8+ MB

In [78]:
# drop unnecessary columns
merged_df.drop(['ipAddress', 'ipVersion', 'IP Address', 'continentCode', 'timeZone', 'email_domain', 'latitude', 'longitude'], axis=1, inplace=True)
# convert diagnosis variable to numerical (optional)
merged_df['EVENT_LABEL'] = merged_df['EVENT_LABEL'].apply(lambda x: 1 if x == 'yes' else 0)
# Convert response from an integer to a categorical variable
merged_df['EVENT_LABEL'] = merged_df['EVENT_LABEL'].astype('category')
merged_df.head()

,email_age,customer_tenure,balance_inqury_count,balance_current_amt,current_customer,ip_address,business_state,credit_score,EVENT_LABEL,countryName,countryCode,zipCode,cityName,regionName,continent
0,34.0,64.0,11.0,11638.0,True,99.193.119.75,IA,104.0,0,United States of America,US,90245,El Segundo,California,Americas
1,27.0,35.0,7.0,11525.0,True,193.63.140.47,NH,359.0,0,United Kingdom of Great Britain and Northern I...,GB,CF37,Pontypridd,Wales,Europe
2,44.0,38.0,10.0,9335.0,True,79.182.139.29,NY,848.0,0,Israel,IL,80600,Mitzpe Ramon,HaDarom,Asia
3,37.0,55.0,11.0,11521.0,True,207.148.124.204,NH,202.0,0,Singapore,SG,179431,Singapore,Singapore,Asia
4,39.0,35.0,9.0,11982.0,False,68.6.93.151,AK,739.0,0,United States of America,US,93101,Santa Barbara,California,Americas

In [79]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9950 entries, 0 to 9949
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   email_age             9950 non-null   float64
 1   customer_tenure       9950 non-null   float64
 2   balance_inqury_count  9950 non-null   float64
 3   balance_current_amt   9950 non-null   float64
 4   current_customer      9950 non-null   bool
 5   ip_address            9950 non-null   object
 6   business_state        9950 non-null   object
 7   credit_score          9950 non-null   float64
 8   EVENT_LABEL           9950 non-null   category
 9   countryName           9950 non-null   object
 10  countryCode           9950 non-null   object
 11  zipCode               9950 non-null   object
 12  cityName              9950 non-null   object
 13  regionName            9950 non-null   object
 14  continent             9950 non-null   object
dtypes: bool(1), category(1), float64(5), object(8)
memory usage: 1.1+ MB

## Split data into training and test sets
Before splitting
- Separate X and Y variables into separate data frames
- Create dummy variables

In [81]:
# split the data into training and testing sets
X = merged_df.drop(['EVENT_LABEL'], axis=1)
X = merged_df[['email_age', 'customer_tenure','balance_inqury_count','balance_current_amt','current_customer', 'ip_address', 'business_state','credit_score','EVENT_LABEL', 'countryName','countryCode','zipCode','cityName', 'regionName','continent']]
X = pd.get_dummies(X, columns=['current_customer', 'business_state', 'countryName', 'countryCode', 'zipCode', 'cityName', 'regionName', 'continent'], drop_first=True)

y = merged_df['EVENT_LABEL']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

X_train.info()
y_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6965 entries, 773 to 7270
Columns: 304 entries, email_age to continent_Europe
dtypes: category(1), float64(5), object(1), uint8(297)
memory usage: 2.4+ MB
<class 'pandas.core.series.Series'>
Int64Index: 6965 entries, 773 to 7270
Series name: EVENT_LABEL
Non-Null Count  Dtype
--------------  -----
6965 non-null   category
dtypes: category(1)
memory usage: 61.3 KB

# Decision Tree  
We will use 3 parameters to control the growth of the tree

- **max_depth** determines the maximum number of levels for the tree.  Smaller values help to prevent overfitting.  Default value = None

- **min_samples_leaf** determines the minimum number of observations that must remain in a leaf.  If a split leaves fewer than this number of observations, the split cannot be performed.  Larger values help to prevent overfitting.  Default value = 1.

- **ccp_alpha** is the cost complexity parameter and can be used for post-pruning the tree to help prevent overfitting.  Default value = 0.  Larger values yield a smaller tree.

## Data loading (Load to MySQL DB)

In [ ]:
# Export the data to intially have it saved before any connection errors
merged_df.to_csv('customer_accounts_joined.csv')

In [ ]:
from sqlalchemy import create_engine
!pip install mysqlclient
# Create a database assignment_5 first

# Database connection settings
username = 'root'
password = 'wfusb'
host = 'localhost'
port = '3306'
database = 'assignment_5'

# Create a connection to the database using SQLAlchemy
engine = create_engine(f'mysql+mysqldb://{username}:{password}@{host}:{port}/{database}')

# Export Dataframe to MySQL
merged_df.to_sql('customer_prep', con=engine, index=False, if_exists='replace')

In [ ]:
# Save this code

prob_fraud = scored_probb[:,0] # sum of these values should be 1
prob_legit = scored_prob[:,1]

## Disconnect from Database

To disconnect from the database using SQLAlchemy, use the `dispose()` method on the engine object. This will close the  connection to the database.

In [ ]:
# Close the database connection
engine.dispose()
print("Connection closed!")

In [ ]:
connection.close()